<div class="container">
  <div class="row sign">
      <div class = "col-lg-8 form-control align-items-center">
        <div class="note">
        <br>
        <h2>Edit Project</h2>
        </div>
        <%= form_for @project, validate: true do |f| %>
        <div>
            <div>
              <label>Project Title</label>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div>
              <label>Description</label>
              <%= f.text_field :description, class: "form-control" %>
            </div>
            <div>
              <%= f.label :qa %><br/>
              <%= f.collection_select(:qa, User.qa.order(:name), :id, :name, {:prompt => "Please Select a qa"},{:multiple => true}) %>
            </div>
            <div>
              <%= f.label :developer %><br/>
              <%= f.collection_select(:developer, User.developer.order(:name), :id, :name, {:prompt => "Please Select a developer"},{:multiple => true})%>
            </div>
            <br>
            <b>Remove QAs</b>
            <div>
              <table class="table table-striped indextable">
                <thead>
                  <tr class="table-dark">
                    <th>QAs</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @qas.present? %>
                    <% @qas.each do |qa| %>
                      <tr>
                        <td><%= qa.name%></td>
                        <td><%= link_to 'Remove', remove_qas_project_path(id: @project.id, qa_id: qa.id), class: 'btn btn-danger form-control actions' %></td>
                      </li>
                    <% end %>
                  <% end %>
                <tbody>
              </table>
            </div>
            <b>Remove Developers</b>
            <div>
              <table class="table table-striped indextable">
                <thead>
                  <tr class="table-dark">
                    <th>Developers</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @developers.present? %>
                    <% @developers.each do |dev| %>
                      <tr>
                        <td><%= dev.name%></td>
                        <td><%= link_to 'Remove', remove_developers_project_path(id: @project.id, dev_id: dev.id), class: 'btn btn-danger form-control actions' %></td>
                      </li>
                    <% end %>
                  <% end %>
                <tbody>
              </table>
            </div>
          </div>
          <div>
            <%= link_to 'Back', { controller: 'projects', action: 'index'} ,class: "btn btn-success"%>
            <%= f.submit  class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
   </div>
</div>

