<div class="container">
  <div class="row">
  <div class = "col-lg-5 ">
    <div class="note">
      <br>
      <h2>Remove QAs</h2>
    </div>
    <% if @qas.present? %>
      <ol>
        <% @qas.each do |qa| %>
          <li class = 'list-item my-3' >
          <strong><%= qa.name %></strong>
          <%= link_to 'Remove', remove_qas_project_path(id: @project.id, qa_id: qa.id), class: 'btn btn-danger  form-control actions' %>
          </li>
        <% end %>
      </ol>
    <% end %>
    <div>
      <div class="actions">
        <%= link_to 'Back', { controller: 'projects', action: 'index'} ,class: "btn btn-success form-control"%>
      </div>
    </div>
  </div>
  <div class= "col-lg-2 ">
  </div>
  <div class= "col-lg-5 ">
    <div class="note">
      <br>
      <h2>Remove Developers</h2>
    </div>
    <% if @developers.present? %>
      <ol>
        <% @developers.each do |dev| %>
          <li class = 'list-item' >
          <strong><%= dev.name %></strong>
            <%= link_to 'Remove', remove_developers_project_path(id: @project.id, dev_id: dev.id), class: 'btn btn-danger form-control actions' %>
          </li>
          <br>
        <% end %>
      </ol>
    <% end %>
    <div>
      <div class="actions">
        <%= link_to 'Back', { controller: 'projects', action: 'index'} ,class: "btn btn-success form-control"%>
      </div>
    </div>
  </div>
</div>
</div>
