<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <h3>Projetcs</h3>
      <br>
      <div>
        <%= link_to 'Add Project', new_project_path, class: "btn btn-primary"%>
      </div>
      <br>
      <table class="table table-striped indextable">
        <thead>
          <tr class="table-dark">
            <th>Title</th>
            <th>QAs</th>
            <th>Developers</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @project.each do |project| %>
            <tr>
              <td><%= project.title%></td>
              <td><%= options_from_collection_for_select(project.users.qa, 'id', 'name') %></td>
              <td><%= options_from_collection_for_select(project.users.developer, 'id', 'name') %></td>
              <td>
                <div>
                  <% if current_user.manger?%>
                    <%= link_to 'Show', project_path(project), method: :get, class: "btn btn-primary" %>
                    <%= link_to 'Edit', edit_project_path(project),class: "btn btn-success" %>
                    <%= link_to 'Delete', project_path(project), method: :delete, class: "btn btn-danger" %>
                    <%= link_to 'Remove QAs and Developers', add_qas_developers_project_path(project.id), class: "btn btn-danger" %>
                  <% elsif current_user.qa?%>
                    <%= link_to 'Show', project_path(project), method: :get, class: "btn btn-primary" %>
                    <%= link_to 'Edit', edit_project_path(project),class: "btn btn-success" %>
                    <%= link_to 'Delete', project_path(project), method: :delete, class: "btn btn-danger" %>
                  <% else %>
                    <%= link_to 'Show', project_path(project), method: :get, class: "btn btn-primary" %>
                    <%= link_to 'Edit', edit_project_path(project),class: "btn btn-success" %>
                    <%= link_to 'Delete', project_path(project), method: :delete, class: "btn btn-danger" %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
