    <div class="container">
      <div class="row">
        <div class="col-12">
          <div>
            <h3><label>Project Title:</label></h6>
            <strong><%= @project.title %></strong>
            <br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <h3>Bugs in this project</h3>
      <div class="row">
        <% @project.bugs.each do |bug|%>
          <div class="card" style="width: 18rem; margin: 50px;", class="col-md-4 col-sm-6">
            <% if bug.screenshot.attached? %>
              <%= image_tag bug.screenshot, class:"card-img-top" %>
            <%end%>
            <div class="card-body">
              <div>
                <h6><label>Title:</label></h6>
                <%= bug.title %>
              </div>
              <br>
              <div>
                <h6><label>deadline:</label></h6>
                <%= bug.deadline %>
                <br>
              </div>
              <br>
              <div>
                <h6><label>Status:</label></h6>
                <%= bug.status %>
                <br>
              </div>
              <br>
              <% if current_user.developer?%>
                <%= link_to 'Assign Bug', assign_bug_to_developer_bug_path(bug.id), class: "btn btn-primary form-control" %><br/>
                <%= link_to 'Delete', bug_path(bug), method: :delete, class: "btn btn-danger form-control" %>
                <%= link_to 'Resolve Bug', resolve_bug_bug_path(bug.id), class: "btn btn-success form-control" %>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
      <div>
        <%= link_to 'Back', { controller: 'projects', action: 'index'} ,class: "btn btn-success"%>
      </div>
    </div>



