<div class="container">
  <div class="row sign">
      <div class = "col-lg-8 form-control align-items-center">
         <div class="note">
         <br>
         <h2>Add a Project</h2>
         </div>
         <%= form_for @bug, validate: true do |f| %>
            <div>
               <div>
                  <label>Project Title</label>
                  <%= f.text_field :title, class: "form-control" %>
               </div>
               <div>
                  <label>Deadline</label>
                  <%= f.text_field :deadline, class: "form-control" %>
               </div>
            </div>
            <div>
               <%= link_to 'Back', { controller: 'projects', action: 'index'} ,class: "btn btn-success"%>
               <%= f.submit  class: "btn btn-primary" %>
            </div>
         <% end %>
      </div>
   </div>
</div>

